<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a class = "active" href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a href="/contact-us">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class = "product-form" action="/contact-us" method="POST">
          <div class="form-control">
            <label for="title">name</label>
            <input type="text" name="title" id="title">
            <label for="title">email</label>
            <input type="email" name="title" id="title">
          </div>
            <button type="submit">submit</button>
        </form>
    </main>
</body>
</html>